<!DOCTYPE html>
<html ng-app="myModule">
  <head>
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <script src="angular.js"></script>
    <script src="script1.js"></script>
    <style>
        *{
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
  </head>
  <body ng-controller="myController1">
   <div>
       <table>
           <thead>
               <tr>
                   <th>Name</th>
                   <th>Likes</th>
                   <th>Dislikes</th>
                   <th>Like/Dislike</th>
               </tr>
           </thead>
           <tbody>
               <tr ng-repeat="tech in technologies">
                   <td>{{tech.name}}</td>
                   <td>{{tech.likes}}</td>
                   <td>{{tech.dislikes}}</td>
                   <td>
                       <input type="button" value="Like" ng-click="incrementLikes(tech)">
                       <input type="button" value="Disike" ng-click="incrementDislikes(tech)">
                   </td>
               </tr>
           </tbody>
       </table>
   </div>
  </body>
</html>
